img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 500px;
    min-height: 300px;
    border-radius: 2%;
}

.container{
    max-width: 700px;
    margin: 2vh auto;
    text-align: center;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f1f1;
}

p{
    margin: 15px;
}

h1{
    font-size: 18px;
}

button, select{
    cursor: pointer; 
}

#score{
    font-weight: 700;
    font-size: 32px;
}

#playerOne{
    background-color: rgb(100, 255, 100);
    background-color: green;
    min-height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    min-width: 98px;
}

#playerOne:hover{
    background-color: rgb(100, 200, 100);
}

#playerOne:disabled{
    background-color: rgb(150, 235, 150);
    cursor: not-allowed;
}

#playerTwo{
  background-color: rgb(0, 102, 255);
  min-height: 40px;
  border: none;
  border-radius: 2px;
  color: white;
  min-width: 98px;
}

#playerTwo:hover{
    background-color: rgb(0, 153, 255);
}

#playerTwo:disabled{
    background-color: rgb(100, 200, 255);
    cursor: not-allowed;
}

#reset{
  background-color: rgb(255, 0, 0);
  min-height: 40px;
  border: none;
  border-radius: 2px;
  color: white;
  min-width: 98px;
}

#reset:hover{
    background-color: rgb(230, 0, 0);
}

.tie-breaker{
    background-color: red;
    color: white;
}

.card {
    margin-left: 50px;
    max-width: 600px;
    max-height: 500px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2%;
    background-color: white;
  }

  .score-card{
      margin-top: 15px;
      padding:15px 0;
  }

  